@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "fonts";
/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

// input[type=range] {
//   -webkit-appearance: none; // необязательно, но, судя по всему, пригодится
// }

// input[type=range]::-webkit-slider-thumb {
//   display: none; 
// }

.slider__list {
  display: flex;
  gap: 40px;
  &_name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 47px;
    color: #070707;
    width: 280px;
    margin-left: 50px;
    margin-top: 40px;
  }
  &_text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    min-width: 226px;
    margin-top: 103px;
  }
}

.slider__box {
  margin-left: 60px;
  width: 1000px;
  &__btn {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 30px;
    &_left {
      background: none;
      width: 45px;
      height: 45px;
      border: none;
      background-image: url('../img/icon/btnleft.svg');
      background-repeat: no-repeat;
    }
    &_right {
      background: none;
      width: 45px;
      height: 45px;
      border: none;
      background-image: url('../img/icon/btnright.svg');
      background-repeat: no-repeat;
    }
    &_items {
      display: flex;
      justify-content: center; 
      gap: 7px;  
      &-circles {
        background: #E5E5E5;
        border: none;
        border-radius: 50%;
        width: 10px;
        height: 10px; 
      }
      &-circles:hover {
        background: #070707;
        border: none;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        opacity: 0.8;
      }        
    }
  }
}

.about {
  margin-top: 60px;
  background: #F6F6F6;
  &__title {
    padding-top: 60px;
    @include H2
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 0px;  
    padding-bottom: 62px; 
    &_items {
      width: 659px;
      display: flex;
      justify-content: start;
    }
    &_items-midlle {
      width: 659px;
      display: flex;
      justify-content: end;
    }
    &__text {
      position: absolute;
      padding-left: 1%;
      width: 457px;
      @include description
    }
  }
}

.skills__box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_title {
    @include H2
  }
  &_descr {
    @include description
  }
  &__list {
    margin-top: 50px;
    display: flex;
    &_items {
      // width: 180px;
      height: 168px;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
    }
  }
}

// .slider {
//   -webkit-appearance: none;
//   width: 100%;
//   height: 10px;
//   background: linear-gradient(to right, black 0%, white 100%);
//   outline: none;
//   opacity: 0.7;
//   -webkit-transition: .2s;
//   transition: opacity .2s;
// }

// .slider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 20px;
//   height: 20px;
//   background: #000;
//   cursor: pointer;
// }

// .slider::-moz-range-thumb {
//   width: 20px;
//   height: 20px;
//   background: #000;
//   cursor: pointer;
// }

