<footer class="footer">
<h2 class="footer__title">Contacts</h2>
<p class="footer__descr">Want to know more or just chat? 
  You are welcome!</p>
<button class="footer__btn" type="button">Send message</button>
<div class="social">
  <div>
    <a class="social__nav" href="#">Instagram</a>
    <a class="social__nav" href="#">Vk</a>
    <a class="social__nav" href="#">Telegram</a>
  </div>
  <div>
    <a class="social__nav" href="#">Mail</a>
    <a class="social__nav" href="#">GitHub</a>
    <a class="social__nav" href="#">Phone</a>
  </div>
</div>
  <ul class="footer__list">
    <li>Design by DL Academy</li>
    <li>Program code from Tatiana</li>
  </ul>
</footer>
